<!DOCTYPE html>
<html>

<head>
  <title>Task Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js')}}">
  </script>
</head>

<body>

  <nav>
    <div class="navbar">
      <h1><u>Task Manager</u></h1><br>
      <ul>
        <li><a class="active" href="#tasks" onclick="showTasks()">Tasks</a></li>
        <li><a href="#tasks-done" onclick="showTasksDone()">Tasks Done</a></li>
        <button id="add-task-btn">Add Task</button>
        <form method="POST" action="{{ url_for('done_task', task_ids='') }}" id="done-form">
          <button type="submit" id="batch-done-btn" style="display: none;">Done</button>
        </form>
        <form method="POST" action="{{ url_for('delete_task', task_ids='') }}" id="delete-form">
          <button type="submit" id="batch-delete-btn" style="display: none;">Delete</button>
        </form>
        <script type="text/javascript" src="{{ url_for('static', filename='nav-script.js')}}"></script>
      </ul>
    </div>
  </nav>

  <div id="modal">
    <div class="add-task">
      <h2>Add Task</h2>
      <form id="add_task" action="{{ url_for('add_or_edit_task') }}" method="POST">

        <label for="project">Project:</label>
        <input type="text" id="project" name="project" required list="projects">
        <datalist id="projects">
          {% for project in projects %}
          <option value="{{ project['name'] }}"></option>
          {% endfor %}
        </datalist>

        <label for="project_order">Project Order:</label>
        <input type="number" id="project_order" name="project_order" required>

        <label for="title">Task Name:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="task_order">Task Order:</label>
        <input type="number" id="task_order" name="task_order" required><br>

        <input type="submit" value="Add Task">

      </form>
      <button id="close-modal-btn">Close</button>
      <script type="text/javascript">var projects = {{ projects| tojson }};;</script>
      <script type="text/javascript" src="{{ url_for('static', filename='modal.js')}}"></script>
    </div>
  </div>

  <div id="edit-modal" class="modal">
    <div class="edit-task">
      <span class="close">&times;</span>
      <h2>Edit Task</h2>
      <form id="edit_task" method="POST">
        <input type="hidden" id="edit_task_id" name="e_task_id">
        <label for="edit_project">Project:</label>
        <input type="text" id="edit_project" name="project" required list="projects">
        <datalist id="projects">
          {% for project in projects %}
          <option value="{{ project['name'] }}"></option>
          {% endfor %}
        </datalist>

        <label for="edit_project_order">Project Order:</label>
        <input type="number" id="edit_project_order" name="project_order" required>

        <label for="edit_title">Task Name:</label>
        <input type="text" id="edit_title" name="title" required><br>

        <label for="edit_task_order">Task Order:</label>
        <input type="number" id="edit_task_order" name="task_order" required><br>

        <input type="submit" value="Save Changes">
      </form>
      <button id="close-modal-btn-2">Close</button>
    </div>
  </div>
  <script type="text/javascript">var projects = {{ projects| tojson }};;</script>
  <script type="text/javascript" src="{{ url_for('static', filename='edit-modal.js')}}"></script>


  <div class="content">
    <div id="tasks-view">
      {% for project in projects %}
      <div class="project">
        <h2>{{ project['name'] }}</h2>

        <table id="taskTable">
          <thead>
            <tr>
              <th>Task</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for task in project['tasks'] %}
            <tr>
              <!-- <td><input type="checkbox" id="task-{{ task[0] }}"></td> -->
              <td>
                <label>
                  <input type="checkbox" name="task_id" value="{{ task[0] }}">
                  {{ task[1] }}
                </label>
              </td>
              <td>
                <a href="{{ url_for('done_task', task_ids=task[0]) }}">Done</a>
                <a href="#" class="edit-link" data-task-id="{{ task[0] }}"
                  onclick="document.getElementById('edit-modal').style.display='block'">Edit</a>
                <a href="{{ url_for('delete_task', task_ids=task[0]) }}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}


    </div>
    <div id="tasks-done-view" style="display:none;">
      <div class="project">
        <table>
          <thead>
            <tr>
              <th>Task Name</th>
              <th>Project Name</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks_done %}
            <tr>
              <td>{{ task[1] }}</td>
              <td>{{ task[3] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>

</html>